body {
    font-family: 'Courier New', Courier, monospace;
}

#title {
    display: flex;
    justify-content: center;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 20px 5px;
    /* border: solid 1px black; */
}
#menu > .menuitem {
    display: flex;
    align-items: center;
    /* border: solid 1px black; */
    margin: 0px 10px 0px 10px;
  
}
.menuitem > .slider {
    appearance: none;
    height: 15px; 
    background: #cfcccc; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
.menuitem > .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #1e1f1e;
    cursor: pointer;
  }
  .menuitem > .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
.menuitem > .txtrange {
    width: 3cap;
}

#canvas {
    display: flex;
    justify-content: center;
}
#canvas > .gridbox {
    display: flex;
    flex-wrap: wrap;
        
    width: 700px;
    height: 700px;
    border: solid 2px black;
}
.gridbox > .box {
    display: flex;    
}
